@keyframes headline-animation {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes description-animation {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes label-logo-animation {
  0% {
    opacity: 0;
    transform: translateX(10); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes infoAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes get-started-animation {
  0% {
    opacity: 0;
    transform: translateX(10); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes header-main-animation {
  0% {
    font-size: 0px; }
  10% {
    font-size: 5px; }
  20% {
    font-size: 10px; }
  30% {
    font-size: 15px; }
  40% {
    font-size: 20px; }
  50% {
    font-size: 25px; }
  60% {
    font-size: 30px; }
  70% {
    font-size: 35px; }
  80% {
    font-size: 40px; }
  90% {
    font-size: 45px; }
  100% {
    font-size: 50px; } }

.card, .card-overlay, .card-img {
  width: 550px;
  height: 250px; }

* {
  box-sizing: border-box;
  font: inherit;
  color: inherit; }

body {
  background-color: #eaeaea;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #333; }

#container {
  max-width: 1300px;
  padding: 30px;
  margin: 0 auto;
  max-height: none;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh; }

.main-logo {
  font-size: 28px;
  line-height: 36px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  background: -webkit-linear-gradient(#faa245, #d8328a, #753872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: label-logo-animation;
  animation-duration: 2s; }

header {
  display: flex;
  align-items: center; }

.navigation {
  flex-grow: 1;
  margin-left: 40px; }
  .navigation-item {
    text-decoration: none;
    color: #bdbdbd;
    margin-left: 24px; }
    .navigation-item-active {
      color: #333; }
  .navigation-item:first-child {
    margin-left: 0px; }

main {
  display: flex; }

.main-content {
  flex: 1;
  margin-top: 40px;
  margin-bottom: 40px; }

.main-headline {
  font-size: 52px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  text-align: center;
  animation: headline-animation;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

.main-description {
  color: #828282;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 40px;
  animation: description-animation;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

.gallery {
  margin-top: 30px; }
  .gallery .cards-wrapper {
    display: flex;
    flex-wrap: wrap; }

.info-section {
  padding: 40px 30px;
  display: flex;
  background: -webkit-linear-gradient(#faa245, #d8328a, #753872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: infoAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out; }
  .info-section-right {
    margin-left: 40px; }
  .info-section-heading {
    letter-spacing: 2px; }
  .info-section-list {
    margin-left: 100px;
    margin-top: 30px;
    list-style: none; }
    .info-section-list-ed {
      margin-top: 10px;
      list-style: none;
      margin-left: 100px; }

.languages {
  margin-left: 50px;
  margin-right: 50px;
  display: flex; }
  .languages-list {
    margin-left: 50px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    display: flex; }
    .languages-list-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 50px; }

.tools {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  display: flex; }
  .tools-list {
    margin-left: 50px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    display: flex; }
    .tools-list-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 50px; }

.card {
  position: relative;
  margin: auto 0;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
  overflow: hidden;
  border-radius: 20px; }
  .card:hover .card-overlay {
    left: 0; }
  .card-overlay {
    position: absolute;
    top: 0;
    left: -110%;
    background: linear-gradient(270deg, rgba(250, 162, 69, 0.6) 0%, rgba(216, 50, 138, 0.6) 37.25%, rgba(117, 56, 114, 0.6) 100%);
    border-radius: 20px;
    color: white;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: left .7s; }
    .card-overlay-heading {
      font-family: "Poppins", sans-serif;
      font-size: 50px;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: Capitalize; }
    .card-overlay-btn {
      width: 150px;
      height: 40px;
      color: white;
      background: linear-gradient(270deg, rgba(250, 162, 69, 0.8) 0%, rgba(216, 50, 138, 0.8) 37.25%, rgba(117, 56, 114, 0.8) 100%);
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-radius: 30px;
      border: 1px solid #d8328a;
      outline: none;
      cursor: pointer; }
  .card-img {
    object-fit: cover;
    opacity: .5; }

.heading-main {
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-family: Poppins;
  font-weight: bold;
  background: -webkit-linear-gradient(#faa245, #d8328a, #753872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto auto;
  justify-content: center;
  animation: header-main-animation 0.5s ease-out; }

.arrow-left {
  text-decoration: none; }

.fa-arrow-left {
  font-size: 20px;
  color: linear-gradient(270deg, #faa245 0%, #d8328a 37.25%, #753872 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid #d8328a;
  border-radius: 50%;
  background: -webkit-linear-gradient(#faa245, #d8328a, #753872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.fa-user {
  background: -webkit-linear-gradient(#faa245, #d8328a, #753872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.fa-graduation-cap {
  background: -webkit-linear-gradient(#faa245, #d8328a, #753872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.fa-briefcase {
  background: -webkit-linear-gradient(#faa245, #d8328a, #753872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.fa-star {
  background: -webkit-linear-gradient(#faa245, #d8328a, #753872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

hr {
  width: 70px;
  background-color: #d8328a;
  margin-bottom: 5px; }

.education-item {
  text-transform: uppercase;
  font-size: 20px; }

.languages-list-item {
  margin-top: 20px;
  margin-bottom: 20px; }
  .languages-list-item-img {
    margin-bottom: 9px;
    height: 64px;
    width: 64px; }
  .languages-list-item-text {
    text-transform: uppercase;
    letter-spacing: 1px; }

.tools-list-item {
  margin-top: 20px;
  margin-bottom: 20px; }
  .tools-list-item-img {
    margin-bottom: 9px;
    height: 64px;
    width: 64px; }
  .tools-list-item-text {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center; }

.navigation-button {
  border: none;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  padding: 10px 36px;
  border-radius: 50px;
  cursor: pointer;
  background: transparent;
  background: linear-gradient(270deg, #faa245 0%, #d8328a 37.25%, #753872 100%);
  color: white;
  animation: get-started-animation;
  animation-duration: 2s; }

.know-more-button {
  text-align: center;
  display: flex;
  margin: auto;
  padding: 10px 36px;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #333;
  background: -webkit-linear-gradient(#faa245, #d8328a, #753872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.know-more-button .fas {
  background: inherit;
  font-size: 1.2rem;
  margin-left: 8px; }

footer {
  display: flex;
  color: #bdbdbd;
  margin: auto auto;
  padding: 0;
  align-items: center;
  justify-content: center; }

.socials {
  margin-right: 40px;
  text-align: center;
  justify-content: center; }
  .socials-item {
    margin-right: 12px; }
  .socials-item:last-child {
    margin-right: 0px; }

.icon-github {
  color: #bdbdbd;
  size: 40px;
  transition: color .7s; }
  .icon-github:hover {
    color: #333; }

span {
  text-align: center; }

.copyright {
  font-size: 17px;
  text-align: center;
  justify-content: center; }
