.card {
  @extend %fullspace;
  position: relative;
  margin: auto 0;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
  overflow: hidden;
  border-radius: 20px;

  &:hover .card-overlay{
    left: 0;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: -110%;
    background: linear-gradient(270deg, rgba(250, 162, 69, .6) 0%, rgba(216, 50, 138, .6) 37.25%, rgba(117, 56, 114, .6) 100%);
    color: white;
    z-index: 10;
    @include flexLayout;
    flex-direction: column;
    @extend %fullspace;
    transition: left .7s;

    &-heading {
      font-family: $font-poppins;
      font-size: 50px;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: Capitalize;
    }
    &-btn {
      width: 150px;
      height: 40px;
      color: white;
      background: linear-gradient(270deg, rgba(250, 162, 69, .8) 0%, rgba(216, 50, 138, .8) 37.25%, rgba(117, 56, 114, .8) 100%);
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-radius: 30px;
      border: 1px solid $color-gradient2;
      outline: none;
      cursor: pointer;
    }
  }

  &-img {
    @extend %fullspace;
    object-fit: cover;
    opacity: .5;
  }
}

.heading-main {
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-family: Poppins;
  font-weight: bold;
  background: -webkit-linear-gradient(#faa245, #d8328a, #753872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto auto;
  justify-content: center;
  animation: header-main-animation 0.5s ease-out;
}

.arrow-left{
  text-decoration: none;
}

.fa-arrow-left {
  font-size: 20px;
  color: $color-gradient;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid $color-gradient2;
  border-radius: 50%;
  background: -webkit-linear-gradient(#faa245, #d8328a, #753872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa {
  &-user{
    background: -webkit-linear-gradient(#faa245, #d8328a, #753872);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-graduation-cap {
    background: -webkit-linear-gradient(#faa245, #d8328a, #753872);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-briefcase {
    background: -webkit-linear-gradient(#faa245, #d8328a, #753872);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-star {
    background: -webkit-linear-gradient(#faa245, #d8328a, #753872);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

hr {
  width: 70px;
  background-color: $color-gradient2;
  margin-bottom: 5px;
}

.education-item {
  text-transform: uppercase;
  font-size: 20px;
}