.navigation-button {
  @include navbuttons;
  animation: get-started-animation;
  animation-duration: 2s;
}

.know-more-button {
  text-align: center;
  display: flex;
  margin: auto;
  padding: 10px 36px;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #333;
  background: -webkit-linear-gradient(#faa245, #d8328a, #753872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.know-more-button .fas {
    background: inherit;
    font-size: 1.2rem;
    margin-left: 8px;
}