$color-black: #000;
$color-white: #fff;
$color-background: #eaeaea;
$color-gradient1: #faa245;
$color-gradient2: #d8328a;
$color-gradient3: #753872;
$color-primary: #bdbdbd;

$font-poppins: 'Poppins', sans-serif;

@mixin flexLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin navbuttons {
  border: none;
  font-family: $font-poppins;
  letter-spacing: 1px;
  padding: 10px 36px;
  border-radius: 50px;
  cursor: pointer;
  background: transparent;
  background: linear-gradient(270deg, #faa245 0%, #d8328a 37.25%, #753872 100%);
  color: white;
}


@keyframes headline-animation {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    80% {
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }



@keyframes description-animation {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    80% {
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

@keyframes label-logo-animation {
  0% {
    opacity: 0;
    transform: translateX(10);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes get-started-animation {
  0% {
    opacity: 0;
    transform: translateX(10);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes header-main-animation {
  0% {
    font-size: 0px;
  }
  10% {
    font-size: 5px;
  }
  20% {
    font-size: 10px;
  }
  30% {
    font-size: 15px;
  }
  40% {
    font-size: 20px;
  }
  50% {
    font-size: 25px;
  }
  60% {
    font-size: 30px;
  }
  70% {
    font-size: 35px;
  }
  80% {
    font-size: 40px;
  }
  90% {
    font-size: 45px;
  }
  100% {
    font-size: 50px;
  }
}

%fullspace {
  width: 550px;
  height: 250px;
}


* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body {
  background-color: $color-background;
  font-family: $font-poppins;
  margin: 0;
  padding: 0;

  color: #333;
}