<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kaustubh | skills</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" type="image/png" href="../static/images/logo.ico"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c68cb4b977.js" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
</head>
<body>
    <div id="container">
        <header>
            <label class="main-logo">TechSketch</label>
            <!-- <img src="../static/images/logo.png" alt="" class="logo"> -->
            <nav class="navigation">
                <a href="{{ url_for('home')}}" class="navigation-item">Home</a>
                <a href="{{ url_for('about')}}" class="navigation-item">About</a>
                <a href="{{ url_for('services')}}" class="navigation-item ">Services</a>
                <a href="{{ url_for('contact')}}" class="navigation-item">Contact</a>
            </nav>

<!--            <div class="menu-button">-->
<!--                <button>-->
<!--                    <a href="" class="anchor-tag-mobile"><i class="fa fa-reorder"></i>-->
<!--                    </a>-->
<!--                </button>-->
<!--            </div>-->


            <a href="{{ url_for('services')}}"><button class="navigation-button">Get Started</button></a>
        </header>

        <div class="info-section">
            <div class="info-section-left">
                <a href="{{ url_for('about')}}" class="arrow-left"><i class="fas fa-arrow-left"></i></a>
            </div>

            <div class="info-section-right">
                <h2 class="info-section-heading"><i class="fas fa-star"></i>   Skills</h2>

                <div class="languages">
                    <h5>Languages: </h5>
                </div>
                    <div class="languages-list">
                        <div class="languages-list-item">
                            <img class="languages-list-item-img" src="../static/images/html.png" >
                            <label class="languages-list-item-text">Html</label>
                        </div>


                        <div class="languages-list-item">
                            <img class="languages-list-item-img" src="../static/images/css-3.png" >
                            <label class="languages-list-item-text">css3</label>
                        </div>

                        <div class="languages-list-item">
                            <img class="languages-list-item-img" src="../static/images/js.png" >
                            <label class="languages-list-item-text">Js</label>
                        </div>

                        <div class="languages-list-item">
                            <img class="languages-list-item-img" src="../static/images/nodejs.png" >
                            <label class="languages-list-item-text">Node</label>
                        </div>

                        <div class="languages-list-item">
                            <img class="languages-list-item-img" src="https://camo.githubusercontent.com/dd4b2422ed3bfc9da88c43d18550375c66f9584327dff7ecc19315ce50b96f07/68747470733a2f2f7777772e766563746f726c6f676f2e7a6f6e652f6c6f676f732f66697265626173652f66697265626173652d69636f6e2e737667">
                            <label class="languages-list-item-text">Firebase</label>
                        </div>

                        <div class="languages-list-item">
                            <img class="languages-list-item-img" src="https://camo.githubusercontent.com/cd703afbd72dc9577b10cfd0350d52e7ea02b80f41873227809d35a7ba495c36/68747470733a2f2f6d69726f2e6d656469756d2e636f6d2f6d61782f313030302f312a696c433241717035735a6431776930436f70443148772e706e67">
                            <label class="languages-list-item-text">Flutter</label>
                        </div>

                        <div class="languages-list-item">
                            <img class="languages-list-item-img" src="https://camo.githubusercontent.com/fbe616cd230a473e1d2a95e141b7fb75f2f409933e303dd4999e0501525f39aa/68747470733a2f2f63646e2d696d616765732d312e6d656469756d2e636f6d2f6d61782f313230302f312a6b6e48465f7170786474533868305a384565716f77412e706e67">
                            <label class="languages-list-item-text">Dart</label>
                        </div>

                        <div class="languages-list-item">
                            <img class="languages-list-item-img" src="../static/images/java%20.png">
                            <label class="languages-list-item-text">Java</label>
                        </div>

                        <div class="languages-list-item">
                            <img class="languages-list-item-img" src="https://camo.githubusercontent.com/3d73e525f21d8f9328dc88caaefd6c3b3190b519e6ec5eaa3dcb18a5182a194a/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f392f39352f5675652e6a735f4c6f676f5f322e7376672f3131383470782d5675652e6a735f4c6f676f5f322e7376672e706e67">
                            <label class="languages-list-item-text">Vuejs</label>
                        </div>
                    </div>

                <div class="tools">
                    <h5>Tools: </h5>
                </div>

                <div class="tools-list">
                    <div class="tools-list-item">
                        <img class="tools-list-item-img" src="https://camo.githubusercontent.com/4941fcc9ec67c9140a88ae371985ae06d62e1cdfa781ebf342a77b27ca3a9d46/68747470733a2f2f322e62702e626c6f6773706f742e636f6d2f2d747a6d317477595f454e4d2f586c43527549305a6b52492f41414141414141414f736f2f426d4e4f55414e5857787763357677736c4e773357706a72446c67733950757751434c63424741735948512f73313630302f706173746564253242696d616765253242302e706e67">
                        <label class="tools-list-item-text">Android Studio</label>
                    </div>

                    <div class="tools-list-item">
                        <img class="tools-list-item-img" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/visual-studio-code/visual-studio-code.png">
                        <label class="tools-list-item-text">Vs Code</label>
                    </div>

                    <div class="tools-list-item">
                        <img class="tools-list-item-img" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/terminal/terminal.png">
                        <label class="tools-list-item-text">Terminal</label>
                    </div>

                    <div class="tools-list-item">
                        <img class="tools-list-item-img" src="https://camo.githubusercontent.com/3403a151e85b1ec19060b45559b7712f387f5032fd829f64afcbd7973906afc1/68747470733a2f2f7777772e666c617469636f6e2e636f6d2f7376672f7374617469632f69636f6e732f7376672f3232362f3232363737322e737667">
                        <label class="tools-list-item-text">Linux</label>
                    </div>

                    <div class="tools-list-item">
                        <img class="tools-list-item-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/PyCharm_Logo.svg/1024px-PyCharm_Logo.svg.png">
                        <label class="tools-list-item-text">PyCharm</label>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="socials">
                <a href="https://github.com/itzVort3x1" class="socials-item"><i class="fab fa-github icon-github fa-lg"></i></a>
                <a href="https://twitter.com/saikaustubh" class="socials-item"><i class="fab fa-twitter icon-github fa-lg"></i></a>
                <a href="https://www.linkedin.com/in/sai-kaustubh-3ab4491b5/" class="socials--item "><i class="fab fa-linkedin icon-github fa-lg"></i></a>
            </div>
            <span class="copyright">© Kaustubh</span>
        </footer>
    </div>
</body>
</html>